# --- REACT / IONIC (FRONTEND) ---
/frontend/node_modules/
/frontend/dist/
/frontend/build/
/frontend/.ionic/
/frontend/.cache/
/frontend/platforms/
/frontend/plugins/

# --- BACKEND / GERAL ---
/backend/node_modules/
/backend/pycache/
/backend/venv/
.env

# --- EDITOR / SISTEMA OPERACIONAL ---
.vscode/
.DS_Store
Thumbs.db
*.log
node_modules